{% extends "header.html" %}
{% block body %}
<body>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ url_for("static",filename="js/bootstrap.min.js") }}"></script>
<center>
	<h1>{{compname}}</h1>
</center>
<div class='row'>
	{% if session["logged_in"] %}
	{% if compfound(comp) %}
	<div class="col-lg-5 pull-right" color='blue'>
		<span class="pull-right">
			<a href= "{{ url_for('removefromwatchlist',comp=comp ) }}">
			<button class="btn btn-danger" type="button" >Remove from watchlist</button>
			</a>
		</span>
	</div>
	{% else %}
	<div class="col-lg-5 pull-right" color='blue'>
		<span class="pull-right">
			<a href= "{{ url_for('addtowatchlist',comp=comp ) }}">
			<button class="btn btn-primary" type="button" >Add to watchlist</button>
			</a>
		</span>
	</div>
	{% endif %}
	{% endif %}

</div>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#1m" aria-controls="1m" role="tab" data-toggle="tab">1 Month</a></li>
    <li role="presentation"><a href="#3m" aria-controls="3m" role="tab" data-toggle="tab">3 Months</a></li>
    <li role="presentation"><a href="#6m" aria-controls="6m" role="tab" data-toggle="tab">6 Months</a></li>
    <li role="presentation"><a href="#1y" aria-controls="1y" role="tab" data-toggle="tab">1 Year</a></li>
    <li role="presentation"><a href="#3y" aria-controls="3y" role="tab" data-toggle="tab">3 Years</a></li>
    <li role="presentation" ><a href="#max" aria-controls="max" role="tab" data-toggle="tab">Max</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active center animated fadeIn" id="1m">
		<embed type="image/svg+xml" src={{graph_data1m|safe}} style='width:1350px;height:600px;'/>
	</div>
    <div role="tabpanel" class="tab-pane center animated fadeIn" id="3m">
		<embed type="image/svg+xml" src={{graph_data3m|safe}} style='width:1350px;height:600px;'/>
	</div>
    <div role="tabpanel" class="tab-pane center animated fadeIn" id="6m">
		<embed type="image/svg+xml" src={{graph_data6m|safe}} style='width:1350px;height:600px;'/>
	</div>
    <div role="tabpanel" class="tab-pane center animated fadeIn" id="1y">
		<embed type="image/svg+xml" src={{graph_data1y|safe}} style='width:1350px;height:600px;'/>
	</div>
    <div role="tabpanel" class="tab-pane  center animated fadeIn" id="3y">
		<embed type="image/svg+xml" src={{graph_data2y|safe}} style='width:1350px;height:600px;'/>
	</div>
    <div role="tabpanel" class="tab-pane  center animated fadeIn" id="max">
		<embed type="image/svg+xml" src={{graph_datamax|safe}} style='width:1350px;height:600px;'/>
	</div>
  </div>

</div>
</body>

<div class="container">
  <h2>Fundamental Data</h2>
  <p>Profit and Loss Statement</p>
  <table class="table table-bordered">
    <thead>
    <tr>
      {% for cell in PL %}
        <th>{{cell}} </th>
      {% endfor %}
    </tr>
    </thead>
   <tbody>
       {% for row in PL_data %}
       <tr>
        {% for cell in row %}
          <td>{{cell}}</td>
        {% endfor %}
       </tr>
      {% endfor %}
   </tbody>
  </table>
  <p>Balance Sheet Statement</p>
  <table class="table table-bordered">
    <thead>
    <tr>
      {% for cell in BS %}
        <th>{{cell}} </th>
      {% endfor %}
    </tr>
    </thead>
   <tbody>
       {% for row in BS_data %}
       <tr>
        {% for cell in row %}
          <td>{{cell}}</td>
        {% endfor %}
       </tr>
      {% endfor %}
   </tbody>
  </table>
</div>

</body>
{% endblock %}
