{% extends "header.html" %}
{% block body %}
<body>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for("static",filename="js/bootstrap.min.js") }}"></script>
	<h2>Stock_Screener</h2>
	<p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
	<p><small>This line of text is meant to be treated as fine print.</small></p>
	<p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
	<p>The following snippet of text is <em>rendered as italicized text</em>.</p>
	<p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
	<a target="_blank" href="https://www.amazon.in/gp/product/8192910911/ref=as_li_tl?ie=UTF8&camp=3638&creative=24630&creativeASIN=8192910911&linkCode=as2&tag=ggboy-21&linkId=44f538f9b4c2e852c2b21a54e5add511">Think and Grow Rich</a><img src="//ir-in.amazon-adsystem.com/e/ir?t=ggboy-21&l=am2&o=31&a=8192910911" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</body>
{% endblock %}
