{% extends "header.html" %}
{% block body %}
<body>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for("static",filename="js/bootstrap.min.js") }}"></script>
	<h2>Stock_Screener</h2>
	<p style="font-size:1em">The stock filter system is meant to help investors and traders. The system will be a web application. It is a very tedious job to individually go through details of various listed companies to find the right one to invest in, given there are over 5000 companies on the National Stock Exchange.</p>
	<p>The stock filter system will help in simplifying this activity, by helping users filter through the companies based on his preferences and requirements.</p>
	<p>Users can also go through popular published filters and choose them, rather than building one from scratch.</p>
</body>
{% endblock %}
