{% extends "header.html" %}
{% block body %}
<body>
<center>
<img class="animated fadeIn" src ="{{ url_for("static",filename="images/mainlogo.png")}}">
<h3 style='margin-top:-20px'>Stock_Screener</h3>
</center>
<br>
<br>
<center>
<div class="row">
  <div class="col-lg-5 pull-left">
    <form role="existingscreens" method="post">
    <div class="input-group">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default animated fadeIn" value="existingscreens" >Go!</button>
      </span>
	  <center>
	  <input type="text" class="form-control text-center animated fadeIn" placeholder="Search for Screens" id="existingscreens" name="existingscreens"  value="{{ request.form.existingscreens }}">
	  </center>
    </div><!-- /input-group -->
	</form>
  </div><!-- /.col-lg-6 -->
	OR
  <div class="col-lg-5 pull-right">
    <form role="writescreen" method="post">
    <div class="input-group">
		<center>
		<input type="text" class="form-control text-center animated fadeIn" placeholder="Write your Own" id="writescreen " name="writescreen" value="{{ request.form.writescreen }}">
		</center>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default animated fadeIn" value="writingscreen" >Go!</button>
      </span>
    </div><!-- /input-group -->
	</form>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
</center>
<center>
	<h2> Writing Query for Screening through companies</h2>
	<br>
	<br>
	<p style="font-size:1em">Price/Earnings  	- latest_pe1</p>
	<p style="font-size:1em">ROE y years		- roey</p>
	<p style="font-size:1em">Avg value of a financial parameter x of the company		- avg-val_x</p>
	<p style="font-size:1em">Sum value of a financial parameter x of the company		- sum-val_x</p>
	<br>
	<br>
	<p > Values x can be -  Sales, Depreciation, Interest, Profit_before_tax, Tax, Net_profit, Dividend_Amount, Equity_Share_Capital, Reserves, Borrowings,Other_Liabilities, Net_Block, Capital_Work_in_Progress, Investments, Other_Assets, Receivables, Inventory, Cash_and_Bank, No_of_Equity_Shares </p>
</body>
{% endblock %}
