{% extends "header.html" %}
{% block body %}
<body>
<center>
<img src ="{{ url_for("static",filename="images/mainlogo.png")}}">
<h3 style='margin-top:-20px'>Stock_Screener</h3>
</center>
<br>
<br>
<center>
<div class="row">
  <div class="col-lg-5 pull-left">
    <form role="existingscreens" method="post">
    <div class="input-group">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default" value="existingscreens" >Go!</button>
      </span>
	  <input type="text" class="form-control" placeholder="Search for Screens" id="existingscreens" name="existingscreens"  value="{{ request.form.existingscreens }}">
    </div><!-- /input-group -->
	</form>
  </div><!-- /.col-lg-6 -->
	OR
  <div class="col-lg-5 pull-right">
    <form role="writescreen" method="post">
    <div class="input-group">
		<input type="text" class="form-control" placeholder="Write your Own" id="writescreen " name="writescreen" value="{{ request.form.writescreen }}">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default" value="writingscreen" >Go!</button>
      </span>
    </div><!-- /input-group -->
	</form>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
</center>
</body>
{% endblock %}
