{% extends "header.html" %}
{% block body %}
<body>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ url_for("static",filename="js/bootstrap.min.js") }}"></script>
<center>
	<h1> Reasults for {{screenname}}</h1>
</center>

<br>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th style="font-size:1em">Screen Name</th>
      <th style="font-size:1em">Definition</th>
      <th style="font-size:1em">Rating</th>
    </tr>
  </thead>
  <tbody>
	{% for screenname in screens %}
    <tr class="animated fadeIn">
		{% if screenfound(screenname) %}
		<th scope="row" data-toggle="tooltip" title="Remove from screenlist" style="font-size:1em"><a href= "{{ url_for('removefromscreenlist',screenname=screenname ) }}"><i class="fa fa-close" style="color:red"></i></a></th>
		{% else %}
		<th scope="row" data-toggle="tooltip" title="Add to screenlist" style="font-size:1em"><a href= "{{ url_for('addtoscreenlist',screenname=screenname ) }}"><i class="fa fa-plus" style="color:green"></i></a></th>
		{% endif %}
      <td style="font-size:1em"><a href={{ url_for("existingscreenreasults",screenname=screenname) }}>{{screenname}}</a></td>
	  <td style="font-size:1em">{{ getdefinition(screenname) }}</td>
	  <td style="font-size:1em">{{ getrating(screenname) }}</td>
    </tr>
	{% endfor %}
  </tbody>
</table>
</body>
{% endblock %}
